body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 120px;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}

.container {
  position: relative;
}

section {
  /* position is static by default */
  display: flex;
  align-items: center;
  justify-content: center
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
